@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --main-color: #e84242;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

/*! base html codes */

html {
  /*1 rem varsayılan olarak 16px'e eşit ancak aşağıdaki özelliği verirsek
  1 rem = 10px olur*/
  font-size: 62.5%;
  overflow-x: hidden;
  /* yataydaki scrollu kapattık*/
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  /*scrollun kendisi */
  width: 0.8rem;
  background-color: white;
}

html::-webkit-scrollbar-track {
  /*scrollun içindeki çubuğun dışındaki alan*/
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  /*scrollun içindeki çubuk*/
  border-radius: 3rem;
  width: 0.8rem;
  background-color: var(--black-color);
}

body {
  background-color: var(--main-color);
}

section {
  padding: 3.5rem 7%;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--black-color);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.heading {
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 4rem;
  margin-bottom: 3.5rem;
  border-bottom: 0.1rem solid #fff;
}

.heading span {
  color: var(--black-color);
  text-transform: uppercase;
}

.search-input {
  font-size: 1.6rem;
  color: var(--black-color);
  padding: 1rem;
  padding-left: 2rem;
  text-transform: none;
  border-radius: 3rem;
}

/* HEADER START */
.header .logo img {
  height: 10rem;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 2rem;
  /*box shadow generator kullanılabilir*/
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  /* scroll yapınca elementin sabit durmasını sağlar*/
  top: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
  /*hover yapınca yeni border ile birlikte
  padding geldiği için güzel bir efekt ortaya çıkıyor*/
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  background-color: transparent;
}

#menu-btn {
  display: none;
}

/* HEADER END */

/* HOME START */
.home {
  min-height: 100vh;
  background: url('/images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  color: white;
}

.home .content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  color: #ccc;
}

/* HOME END */

/* MENU START */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* minmax(min.max)	Sets a size range greater than or equal
     to min and less than or equal to max*/
  /*auto-fit grid yapısını komple doldurur, yandaki minmax ise grid elementlerinin
     minimum ve maksimum boyutlarını belirler*/
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 3rem;
  background-color: white;
  border-radius: 3rem;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.menu .box-container .box img {
  width: 100%;
  object-fit: cover;
}

.menu .box-container .box .menu-category {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.menu .box-container .box h3 {
  font-size: 3rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: line-through;
}

/* MENU END */

/* PRODUCTS START */
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  background-color: white;
  position: relative;
  border-radius: 3rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  overflow: hidden;
}

.products .box-container .box .box-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.products .box-container .box .box-head .title {
  font-size: 1.4rem;
}

.products .box-container .box .box-head .name {
  font-size: 4rem;
  font-weight: bold;
  text-align: start;
  overflow-wrap: anywhere;
  /*Long words will break if they overflow the container*/
}

.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg .box-head .title {
  color: white;
}


.products .box-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.products .box-container .dark-bg img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: unset;
}

.products .box-container .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.products .box-container .box-bottom .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products .box-container .box-bottom .info .price {
  font-size: 3rem;
}

.products .box-container .box-bottom .info .amount {
  font-size: 1.4rem;
}

.products .box-container .dark-bg .box-bottom .info .price,
.products .box-container .dark-bg .box-bottom .info .amount {
  color: white
}

.products .box-container .box-bottom .product-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  border: 0.2rem solid var(--main-color);
}

.products .box-container .box-bottom .product-btn a i {
  font-size: 1.6rem;
  color: var(--main-color);
}

/* PRODUCTS END */

/* ABOUT START */
.about .row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: white;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8
}


/* ABOUT END */

/* REVIEW START */
  .review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
  }

  .review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
  }

  .review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
  }
  .review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .review .box-container .box h3 {
    pad: 1rem 0;
    font-size: 2rem;
    color: var(--main-color);
  }

  .review .box-container .box .stars i {
    font-size: 1.5rem;
    color: gold;
  }
/* REVIEW END */

/* CONTACT START */
  .contact .row {
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;
  }

  .contact .row .map {
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
  }

  .contact .row form {
    flex:1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  .contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
  }

  .contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
  }

  .contact .row form .inputBox i {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
  }

  .contact .row form .btn {
    color: var(--main-color);
    background-color: #fff;
    font-weight: bold;
  }
/* CONTACT END */


/* BLOG START */
  .blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
  }

  .blogs .box-container .box {
    background-color: #fff;
    border-radius: 3rem;
    overflow: hidden;
  }

  .blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
  }

  .blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .blogs .box-container .box:hover .image img {
    transform: scale(1.2);
  }

  .blogs .box-container .box .content {
    padding: 2rem;
    
  }

  .blogs .box-container .box .content .title {
    line-height: 1.5;
    font-size: 2.5rem;
  }

  .blogs .box-container .box .content span {
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
  }

  .blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: rgb(151, 149, 149);
    padding: 1rem 0;
  }

/* BLOG END */

/* FOOTER START */
  .footer {
    background-color: var(--black-color);
    text-align: center;
  }

  .footer .search {
    display: flex;
    justify-content: center;
  }

  .footer .search .search-input {
    width: 30rem;
  }

  .footer .search .btn-primary {
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
  }

  .footer .share {
    padding: 2rem 0;
  }

  .footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
  }

  .footer .share a:hover {
    background-color: var(--main-color);
  }

  .footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
  }

  .footer .links a {
    background-color: var(--main-color);
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
  }
  .footer .links a:hover {
    background-color: var(--black-color);
    opacity: 0.7;
  }

  .footer .links a.active {
    background-color: var(--black-color);
  }

  .footer .credit {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding-top: 1.5rem;
  }

  .footer .credit span {
    color: var(--main-color);
  }
/* FOOTER END */


/* RESPONSIVE START */

@media screen and (max-width:991px) {
 html {
  font-size: 55%;
 }

 .header {
  padding: 1.5rem 2rem;
 }

 .header .logo img {
  height: 7rem;
 }

 section {
  padding: 2rem;
 }

 .prdoucts .box-container .box .box-head .name {
  font-size: 3.4rem;
 }
 
}

@media screen and (max-width:768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }
}

/* RESPONSIVE END */